* {
    font-family: 'Rubik', sans-serif;
}

.register-img{
    background-image: url(../img/register-bg.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}