* {
    font-family: 'Rubik', sans-serif;
}

.register-img{
    background-image: url(../img/register-bg.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.fs-60{
    font-size: 60px;
}

.mohirdev-f-color{
    color: #2d4359;
}

.card-height{
    height: 130px;
}

.span-text{
    position: relative;
    margin-top: 0px;
    font-size: 15px;
}
